$mobile-breakpoint: 767px;

.bet-options-container {
  display: flex;
  height: 45px;
  flex-direction: row;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #3BC1E2;
  }

  option {
    font-size: 14px;
    background-color: #FFD401;
  }

  option:disabled {
    color: #888;
  }

  option:active {
    background: #FFD401;
    border: 0px
  }

}
@media (max-width: #{$mobile-breakpoint}) {
 .bet-options-container {
  height: 30px;
select {
  padding: 0px
}
 }
}


.text-input-container {
  display: flex;
  height: 20px;
  flex-direction: row;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  align-items: center;
  margin-top: 20px;

  input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-left: 0;
  border-radius: 5px;
  margin-left: 5px;
    background: #3BC1E2;
    height: 20px;
    outline: none; // Removes the outline when input is focused
  }
}

