
  
  .grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-gap: 10px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(80px, 1fr));
    grid-gap: 5px;
    display: flex;
    flex:1;
    height: 100%;
    justify-content: center;

  }
  

  .grid-cell {
      cursor: pointer;
      flex-direction: column;
      height: 80px;
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      font-size: 16px;
      background-color: #f2f2f2;
      color: #333;
      transition: background-color 0.3s, opacity 0.3s; 
  
      &:hover {
          background-color: #007bff !important;
          opacity: 0.7; 
      }
  
      &.active {
        background-color: orange;
    }
  }