
  
  .grid-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 10px;
  }
  
  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    grid-gap: 10px;
    display: flex;
    flex: 1;
  }
  

  .grid-cell {
      cursor: pointer;
      flex-direction: column;
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ccc;
      font-size: 16px;
      border-radius: 5px;
      background-color: #f2f2f2;
      color: white;
      transition: background-color 0.3s, opacity 0.3s; 
  
      &:hover {
          background-color: #007bff !important;
          opacity: 0.7; 
      }
  
      &.active {
        background-color: orange;
    }

    &.clicked {
      animation: click-animation 0.5s ease;
    }
  
    @keyframes click-animation {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
    
  }


  