@import "grid";
@import "betoptions";

$primaryFont: Arial, sans-serif;
$fontSize: 16px;
$fontColor: white;

$backgroundColor: #213744;

.body {
  font-family: $primaryFont;
  font-size: $fontSize;
  color: $fontColor;
}

body {
  background-color: $backgroundColor !important;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.left-container {
  background-color: #213744;
  padding: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: sticky;
  max-height: 500px;
  bottom: 0;
}

$mobile-breakpoint: 767px;

@media (max-width: $mobile-breakpoint) and (orientation: landscape) {
  .content-wrapper {
    flex-direction: row;
  }

  .left-container {
    flex: 1;
    height: 100%;
    top: 0;
    right: 0;
  }
}

.game-container {
  width: 100%;
  display: flex;
  background-color: #0f212f;
  max-width: fit-content;
  padding: 20px;
  // box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  overflow-x: auto;
  overflow-y: auto;
  align-items: center;
}

.info-container {
  text-align: center;

  h1 {
    font-size: 24px;
    margin: 0px 0;
  }

  .feature-win {
    font-weight: 800;
    color: #4caf50;
  }

  .last-payout {
    color: #3bc1e2;
  }
}

.custom-button {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
  color: white;

  &:not(:disabled):after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }

  &:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }

  span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    font-size: 1.125em;
    font-weight: 700;
    z-index: 20;

    &:not(:disabled):after {
      transition: all 0.3s ease-in-out;
      color: white;
    }
  }

  &:not(:disabled):hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }

  &:disabled {
    background-color: gray;
    cursor: default;
  }

  &.green-button {
    background-color: #4caf50;
    transition: background-color 0.3s ease-in-out !important;

    &:not(:disabled):hover {
      background-color: #45a049 !important;
    }

    &:active {
      background-color: #3e9148 !important;
    }

    &:before {
      opacity: 0;
      transition: opacity 0.3s ease-in-out !important;
    }

    &:hover:before {
      opacity: 1 !important;
    }

    &:disabled {
      background-color: gray;
      cursor: default;
    }

    &:not(:disabled):after {
      background-color: transparent;
      transition: none;
    }
  }
}

@media (max-width: #{$mobile-breakpoint}) {
  .custom-button {
    height: 30px !important;

    select {
      padding: 0px;
    }
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;

  span:first-child {
    font-size: 1.6em;
    font-weight: bold;
  }

  span:last-child {
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 5px;
  }
}

@media (max-width: #{$mobile-breakpoint}) {
  .title-container {
    span:first-child {
      font-size: 1em;
      font-weight: bold;
    }

    span:last-child {
      font-weight: 500;
      font-size: 1em;
      margin-top: 5px;
    }
  }
}

.modal-overlay {
  position: fixed;

  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background-color: #213744;
  padding: 20px;
  border-radius: 4px;
  position: relative;
  width: 400px;
  align-self: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
